# Paths to ignore in the repository:
Depth_Anything_V2

# Ignore Python bytecode files
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
.venv/

# Ignore specific directories and files
datasets/lab_scene_kinect_xyz/

theoric/roteiro.md

# # Ignore common data formats and model files
*.zip
*.ply
*.pcd
*.bag
*.npy
*.pth