# Paths to ignore in the repository:
Depth_Anything_V2

# Ignore Python bytecode files
__pycache__/

# Ignore virtual environment directories
.venv/

# Ignore specific directories and files
results/test_rs_diagonal_0.06/large/
results/test_rs_front_0.075/large/
results/test_rs_rotate_0.05/large/
results/test_rs_side_0.070/large/

theoric/

# Ignore common data formats and model files
